.App {
  text-align: center;
}

.Controls {
  display: inline-block;
  width: 200px;
  margin-bottom: 50px;
}

.ColorPicker {
  display: inline-block;
  margin: 0px 50px;
}

.Range {
  height: 125px;
}
